VITE_DEMO_TENANT_URL=https://demo.homoeodesk.com
VITE_GLOBAL_API_URL=https://api.homoeodesk.com
VITE_CONTACT_EMAIL=hello@homoeodesk.com
VITE_BOOKING_URL=
VITE_ANALYTICS_ID=
VITE_SITE_URL=https://homoeodesk.com
